body {
  background-color: black;
  color: coral;
  font-family: 'Roboto';font-size: 22px;
}
h1 {
  color: coral;
  font-family: 'Roboto';font-size: 18px;
}

p {
  font-family: 'Roboto';
  font-size: 14px;
}
